.game-card {
  background-color: #fdc175;
  border: #9e460c 7px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.content {
  text-align: center;
}

#cast-btn {
  background-color: transparent;
  border: transparent;
}

#closeBtnContainer {
  position: absolute;
  top: 10px;
  right: 10px;
}

#closeBtn {
  background-color: transparent;
  border: transparent;
}

.choiceBtn {
  button {
    background-color: transparent;
    border: transparent;
  }
}
