<div class="box">
  <div class="container">
    <div id="closeBtnContainer">
      <button id="closeBtn" matTooltip="Close" mat-dialog-close>
        <img
          src="../../../../../assets/images/Close.png"
          alt="close"
          height="40"
          width="40"
        />
      </button>
    </div>
    <div id="title">
      <h1>Fishing Bucket</h1>
      <h4>list of your kept fish</h4>
    </div>
    <div>
      <ul id="list">
        <li>
          <h3>
            {{ KingGeorge }}x...
            <img src="../../../../../assets/images/King-George.png" /> King
            George
          </h3>
        </li>
        <li>
          <h3>
            {{ LargeMullet }}x...
            <img src="../../../../../assets/images/Large-Mullet.png" /> Large
            Mullet
          </h3>
        </li>
        <li>
          <h3>
            {{ LostBait }}x...
            <img src="../../../../../assets/images/Lost-Bait.png" /> Lost Bait
          </h3>
        </li>
        <li>
          <h3>
            {{ SeaweedMonster }}x...
            <img src="../../../../../assets/images/Seaweed.png" /> Seaweed
            Monster
          </h3>
        </li>
        <li>
          <h3>
            {{ SmallMulloway }}x...
            <img src="../../../../../assets/images/Small-Mulloway.png" />
            Small Mulloway
          </h3>
        </li>
        <li>
          <h3>
            {{ Snapper }}x...
            <img src="../../../../../assets/images/Snapper.png" /> Snapper
          </h3>
        </li>
      </ul>
    </div>
  </div>
</div>
