<div class="box">
  <div class="box-size">
    <div class="container">
      <h1>Fishing Bucket</h1>
      <h4>list of your kept fish</h4>
      <div>
        <ul id="list">
          <li>
            <h2>
              {{ KingGeorge }}x...
              <img src="../../../../../assets/images/King-George.png" /> King
              George
            </h2>
          </li>
          <li>
            <h2>
              {{ LargeMullet }}x...
              <img src="../../../../../assets/images/Large-Mullet.png" /> Large
              Mullet
            </h2>
          </li>
          <li>
            <h2>
              {{ LostBait }}x...
              <img src="../../../../../assets/images/Lost-Bait.png" /> Lost Bait
            </h2>
          </li>
          <li>
            <h2>
              {{ SeaweedMonster }}x...
              <img src="../../../../../assets/images/Seaweed.png" /> Seaweed
              Monster
            </h2>
          </li>
          <li>
            <h2>
              {{ SmallMulloway }}x...
              <img src="../../../../../assets/images/Small-Mulloway.png" />
              Small Mulloway
            </h2>
          </li>
          <li>
            <h2>
              {{ Snapper }}x...
              <img src="../../../../../assets/images/Snapper.png" /> Snapper
            </h2>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
