<mat-card class="score-card">
  <mat-card-header><h1>Scoreboard</h1></mat-card-header>
  <mat-card-content>
    <div>
      <p>Player: {{ playerName }}</p>
      <p>Score: {{ totalScore }}</p>
      <p>Total Casts: {{ totalCasts }}</p>
      <p>Previous Catch: {{ lastCatch }}</p>
      <p>Kept Fish (Click bucket to view):</p>
      <button id="btn-bucket" (click)="bucketClick()">
        <img src="../../../../../../assets/images/Empty-Bucket.png" />
      </button>
    </div>
  </mat-card-content>
</mat-card>
