<div class="card-container">
  <mat-card class="end-card">
    <mat-card-header>
      <h1>Thanks for playing {{ playerName }}</h1>
    </mat-card-header>
    <mat-card-content>
      <div>
        <p>You got a score of {{ finalScore }} from {{ totalCasts }} casts!</p>
      </div>
      <div>
        <p>The fish that you kept in your bucket</p>
      </div>
      <div class="list-container">
        <div class="list-group">
          <ul class="list-items">
            <li>
              <p>
                {{ KingGeorge }}x...
                <img src="../../../../../assets/images/King-George.png" /> King
                George
              </p>
            </li>
            <li>
              <p>
                {{ LargeMullet }}x...
                <img src="../../../../../assets/images/Large-Mullet.png" />
                Large Mullet
              </p>
            </li>
            <li>
              <p>
                {{ LostBait }}x...
                <img src="../../../../../assets/images/Lost-Bait.png" /> Lost
                Bait
              </p>
            </li>
          </ul>
        </div>
        <div class="list-group">
          <ul class="list-items">
            <li>
              <p>
                {{ SeaweedMonster }}x...
                <img src="../../../../../assets/images/Seaweed.png" /> Seaweed
                Monster
              </p>
            </li>
            <li>
              <p>
                {{ SmallMulloway }}x...
                <img src="../../../../../assets/images/Small-Mulloway.png" />
                Small Mulloway
              </p>
            </li>
            <li>
              <p>
                {{ Snapper }}x...
                <img src="../../../../../assets/images/Snapper.png" /> Snapper
              </p>
            </li>
          </ul>
        </div>
      </div>

      <div class="play-again">
        Would you like to keep playing?
        <div class="play-againBtn">
          <button>
            <img
              src="../../../../../assets/images/Wood-Sign-Play.png"
              height="60"
              width="150"
            />
          </button>
          <button>
            <img
              src="../../../../../assets/images/Wood-Sign-End.png"
              height="60"
              width="150"
            />
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
